<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="mt-5">Sign In</h1>
                    <p class="lead">This is a simple blog application homepage built using EJS and Bootstrap.</p>
                </div>
                <form action="/user/signin" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="email" required>
                        <div id="email" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <%- include('./partials/footer') %>
</body>
<%- include('./partials/script') %>

</html>